body {
  background-color: #f4f6f9;
  font-family: Arial, sans-serif;
}

.dashboard-card {
  padding: 30px;
  border-radius: 10px;
  background: white;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.dashboard-card h5 {
  color: #6c757d;
}

.dashboard-card h3 {
  color: #435ebe;
  font-size: 32px;
  margin-top: 10px;
}
